[core]
editor = "emacs -nw --quick"
excludesfile = /home/humitos/.gitignore_global

[color]
diff = auto
ui = auto

[sendemail]
chainreplyto = false
from = Manuel Kaufmann <humitos@gmail.com>
smtpserver = smtp.gmail.com
smtpuser = humitos@gmail.com
smtpserverport = 587
smtpencryption = tls
confirm = auto

[user]
name = Manuel Kaufmann
email = humitos@gmail.com

[pager]
log = diff-highlight | less
show = diff-highlight | less
diff = diff-highlight | less

[color "diff"]
meta = yellow bold
frag = magenta bold
old = red bold
new = green bold
whitespace = red reverse

[alias]
b = branch
# https://github.com/brandon-rhodes/homedir/blob/master/.gitconfig
ci = commit
amend = commit --amend
co = checkout
d = diff
l = log --graph --pretty=oneline --abbrev-commit --decorate=short
lp = log -p
ls = log --stat
st = status -s
locate = ls-tree --name-only -r HEAD
serve-this = daemon --verbose --export-all --base-path=.git --reuseaddr --strict-paths .git/
# Serve all RTD external repositories to test them
# git clone git://localhost/requests
serve-rtd = daemon --verbose --export-all --base-path=/home/humitos/rtfd/repos --reuseaddr
# Delete branches that were already merged
# https://stackoverflow.com/a/33548037/2187091
cleanup = "!git fetch --prune && for branch in `git branch -vv | grep ': gone]' | grep -v '*' | gawk '{print $1}'`; do git branch -D $branch; done"

[push]
default = simple

[merge]
tool = meld

[credential]
helper = cache
